.side-menu {
    max-width: 290px;
    position: fixed;
    left: 50%;
    top: 84px;
    transform: translateX(calc(-50% + 322px));
    
    display: none;
    flex-direction: column;
}

.side-menu__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 1024px) {
    .side-menu {
        display: flex;
    }
}